@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}

#black-Area-Right {

  
  position:fixed;
  top: 0;
  right:0;
  width:60px;
  height:100%;
  /*border: 30px solid #212121;                        you can use a background colour instead of a border*/
  border-left: 3px solid brown;
  /*float:right;                                      float not neccessaryu because of right command*/
  background: black;
  z-index:2;
    
}

#black-Area-Top {

  top:0;
  width:100%;
  border-bottom: 3px solid brown;
  background:black;
  position:fixed;
  height:35px;
  z-index:1;
 

}





/*.main-menu:hover,nav.main-menu.expanded {
width: 170px;
overflow:visible;
}

.main-menu {
  background:#212121;
  border-right:3px solid brown;
  position:fixed;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:60px;
  overflow:hidden;
  transition:width .09s linear;
  z-index: 2;

/*-webkit-transition:width 0.5s linear;*/
/*-webkit-transform:translateZ(0) scale(1,1);
z-index:1000; */
/*}
/*
.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:160px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
/*-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
/*}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:100px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0 0 10;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

*/

  
  



   
   .main{
    
    margin-top:60px;
    
}
    
.oldKaaba{

  float:right;
  border-right: 4px dotted rgb(166, 255, 0); 
  border-left: 4px dotted rgb(166, 255, 0); 
  margin-right:150px;
  

  }
    

    
    h1 { /*Title*/

      text-align: center;
        font-size: 60px;
        font-style:oblique;
        z-index: 2;
        position:relative;
        
           
     }  /*
    h1::before {  
        transform: scaleX(0);
        transform-origin: bottom right;
      }
      
      h1:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
       
      }
      
      h1::before {
        content: " ";
        display:inline-block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 300px;
        inset: 0 750px 0 520px;
        background: hsl(300 100% 80%);
        z-index: -1;
        transition: transform .5s ease;
      }
        */

      .Hajj{
    position: relative;
    text-align: right;
       
    }
     /*
    .test{ 
    -webkit-text-stroke-width: 1px;    /* Holy City of Mecca */
     /*-webkit-text-stroke-color: rgb(0, 0, 0);
        color:rgb(255, 38, 0);
    position: absolute;
        font-size: 40px;
        font-family:cursive;
        text-align: left;
    opacity: 90%;
    margin-left: 40%;
    margin-top: -550px;
    padding-left: 10%;
    top: 8px;
        left: 16px;
    }
          */
    .writing, .Etymology{
    
    padding:0 170px 0 170px;
    
    
    }
    .writing {

      font-size:22px;
    }
    
    .tawhid {

      padding:0 170px 0 170px;
      margin-top: 2%;
  
    }
    
    .underLine {
      /* text-decoration:underline 3px; */
    
      border-bottom: 3px dotted rgb(67, 90, 224)


    }

    /*.form{ /* email */
    
    /*margin-top:40px;
    
    } */
    
    /*input{
        
    width:60%;
    
    
    } */

  
  .kaaba {       /* kabba */
     
    margin-top: 1%;
    border: 5px groove rgb(166, 255, 0);
    /*max-width: 90%;
    max-height: 90%;
    */
    margin-left:auto;
    margin-right:auto;
    width:50%;
    display:block;
     
}










/*.topbar{
background-color: rgb(0, 0, 0);
position:fixed;
width:100%;
top: 0;
z-index: 1;
block-size: 5.5%;


}  


.topbar a {   /* a styles links inside bar */
      /*  color: #f2f2f2;
        text-align: center;
        margin-left: 12px;
        font-size: 40px;
        background-color:black;
    color: red;
    
      }
            /*

/*.topbar a.hover { 

background-color:aquamarine
cornflowerblue
}


*/




                                                /* NEW SIDE BAR !! */

.sidebar {

  height: 100%;
  width: 0;
  position:fixed;
  top:0;
  left:0;
background: red;
float:left;
padding-top: 90px;
z-index: 2;
}


  
  
  
  
  .sidebar a {
    font-size:25px;
  color: red;
  font-size: 20px;
 
  }
  
  .sidebar a:hover{
      
      color: rgb(55, 0, 255);
  }                
  
  
 
  .openbutton:hover {
    background-color: #444;
    font-weight:bold;
  }
  .closebutton:hover {
    background-color: #444;
    font-weight:bold;
  }
  

  .openbutton {
    background-color: red;
    font-size: 17px;
    cursor: pointer;
    color: white;
    padding: 1px 1px;
    border: none;
    float:left;
  }

  .closebutton {
    background-color: red;
    font-size: 17px;
    cursor: pointer;
    color: white;
    padding: 1px 1px;
    border: none;
    float:left;
    margin-left:10px;
  }




 #button {
   float:left;
   margin-top:-250px;

 }